{{ ansible_managed | comment }}
HTTP_PROXY={{ proxy_server }}
HTTPS_PROXY={{ proxy_server }}
FTP_PROXY={{ proxy_server }}
http_proxy={{ proxy_server }}
https_proxy={{ proxy_server }}
ftp_proxy={{ proxy_server }}
export HTTP_PROXY HTTPS_PROXY FTP_PROXY http_proxy https_proxy ftp_proxy